/* Common styles for all buttons */

.button-common{
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-text-fill: #363636;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.62), 10, 0, 0, 0);
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-transition: background 0.3s, color 0.3s;
    -fx-opacity:1;
    -fx-font-size: 14px;
    -fx-font-weight: 700;
    -fx-background-color: rgb(255, 255, 255);

}


/* Hover state */
.button-common:hover {
    -fx-opacity: 0.9;
    -fx-effect: dropshadow(gaussian, rgb(152, 152, 152), 10, 0, 0, 0);
}
